@import "tailwindcss";

@config "../../tailwind.config.js";

@layer base {
    h1, h2, h3, h4 {
        font-weight: bold;
    }
    
    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }
}

body {
    width: 90vw;

    margin: 0 auto
}